body {
    margin: 150px;
    background-color: rgb(167, 41, 41);
    display :flex;
    justify-content: center;
}

.container {
    text-align: center;
    background-color: beige;
    padding: 50px;
    border-radius: 70px;
}

button {
    background-color: rgb(255, 183, 178);
    color: brown;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    justify-content: first baseline;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
input{
    text-align: center;
    padding: 10px;
    width: 200px ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: brown;

}
